---
layout: page.njk
title: Spartan programming - About
---
<h1>About</h1>

<p>This website is an attempt to preserve and improve accesibility of <a href="https://web.archive.org/web/20150621083052/http://ssdl-wiki.cs.technion.ac.il/wiki/index.php/Spartan_programming" target="_blank">original research</a> of <a href="https://www.technion.ac.il/" target="_blank">Israel Institute of technology</a> on {% home "spartan programming" %}. In the future some articles might be improved and modernized.</p>

<h2>Related content</h2>

<ul>
  <li><a href="https://blog.codinghorror.com/spartan-programming/" target="_blank">Article on codinghorror.com</a></li>
</ul>
