---
layout: page.njk
title: Spartan programming - Character count
---

<h1>Character count</h1>

<p>Character count is perhaps the simplest complexity metric of a software unit, and is naturally defined as the number of characters that comprise the unit. Despite its simplicity, the metric is not uniquely defined. Replacement of tabs by spaces and vice versa, blanks at end of lines, just as moving between UNIX and DOS line end convention may change this metric's value.</p>

<p>The Visible Character Count (VCC) metric is more unambiguously defined as the count of all non-space characters of the software unit. This count includes also non-space characters in comments.</p>

<p>The Code Character Count (CCC) metric is the count of all non-space characters, comments not included.</p>

<p>Specific techniques for reducing the character count metric are:</p>

<ol>
  <li>Generic names</li>
  <li>Micro abstraction</li>
</ol>
