---
layout: page.njk
title: Spartan programming - Interface complexity
---

<h1>Interface complexity</h1>

<p>{% home "Spartan programming" %} also dictates that each parameter is passed with least variability and interaction with other components of the program. The following is a list of methods of passing parameter in descending order of preference.</p>

<ol>
  <li>input parameters</li>
  <li>output parameters</li>
  <li>input-output parameters</li>
  <li>by-reference parameters</li>
  <li>by-name parameters</li>
</ol>
