---
layout: page.njk
title: Spartan programming - Routine
---

<h1>Routine</h1>

<p>Routines, also known as subroutines (in e.g., Fortran), procedures (in languages such as Pascal), functions (in e.g., C and other brace family languages), subprograms, etc., are the main abstraction mechanism of the imperative paradigm. There are two kinds of routines:</p>

<ul>
  <li>Returning value, such as Pascal's functions. The abstraction metaphor of these is that of operators such as + used in expressions.</li>
  <li>Non-returning value, such as void functions in brace family languages. The abstraction metaphor of these is that of statements.</li>
</ul>
